

.main1{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 50px 0 90px 0;
    background-color: #ffffff;
    background-image: url(../../asserts/category_light_mode.png);
    background-size:100% 95%;
    background-repeat: no-repeat;

}
.sub-main1{
    display: flex;
    justify-content: center;
    height: 700px;
    width: 33%;
    box-shadow: 11px 12px 13px rgba(0, 0, 0, 0.504);
    padding-top: 30px;
    border-radius: 60px;
    background-color: rgba(123, 191, 251, 0.473);
}
.imgs{
    padding-top: 20px;
    justify-content: center;
    display: flex;

}
.container-image{
    background-color: rgb(255, 255, 255);
   padding-left: 10px;
    align-items: center;
    display: flex;
    height: 100px;
    width: 105px;
    border-radius: 20px;
    box-shadow: 11px 12px 12px rgba(0, 0, 0, 0.504);
}
.profile{
    height: 100px;
    width: 100px;
    align-items: center;
}
input{
    width: 300px;
    height: 50px;
    border-radius: 15px;
    box-shadow: inset 0px 0px 25px 0px #28acf97f;
    border: 2px solid rgba(0, 0, 0, 0.221);
    outline: none;
    background-color: aliceblue;
}
.email{
    height: 25px;
    width: 25px;
    position: absolute;
    padding: 14px 0 0 25px;
    
}
.name{
    padding-left: 70px;
    font-size: 20px;
    color: rgb(0, 0, 0);

}
.second-input1{
    padding-top: 20px;

}
.btn2{
    width: 150px;
    height: 50px;
    border-radius: 60px;
    margin: 25px;
    font-size: 1rem;
    font-family: georgia;
    border: 2px solid rgb(70, 193, 255);
    background-color: rgb(16, 7, 100);
    color: white;
    
}
.btn2:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(137, 202, 255);
    font-weight: bold;
}
.text{
    padding-top: 20px;
    color: #151558;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.acc{
    color: #151558;
    font-family: georgia;
    font-weight: 500;
    line-height: 1.5rem;
}